<FlexboxLayout class="flashcard-cards-container">
    <FlexboxLayout (tap)="onFlip()" class="flashcard-overview-card">
        <Label class="description" text="DescriptionDescriptionDescription"></Label>
        <Label id="question-label" (loaded)="onLabelLoad($event)" class="question" text="あ　　い　	　う　	　え　	　お"></Label>
    </FlexboxLayout>
    <FlexboxLayout (tap)="onFlip()" class="flashcard-overview-card">
        <Label class="description" text="Descriptionかたかな, カタカナかたかな, カタカかたかな, カタカナナDescription"></Label>
        <Label class="question" (loaded)="onLabelLoad($event)" text="QuestionQuestionQuestionQuestionQuestionQuestionQuestionQuestionQuuestion"></Label>
    </FlexboxLayout>
    <FlexboxLayout (tap)="onFlip()" class="flashcard-overview-card">
        <Label class="description" text="Description"></Label>
        <Label class="question" (loaded)="onLabelLoad($event)" text="QuestionQuestion"></Label>
    </FlexboxLayout>
    <FlexboxLayout (tap)="onFlip()" class="flashcard-overview-card">
        <Label class="description" text="Description"></Label>
        <Label class="question" (loaded)="onLabelLoad($event)" text="Question Question"></Label>
    </FlexboxLayout>
    <FlexboxLayout (tap)="onFlip()" class="flashcard-overview-card">
        <Label class="description" text="Description"></Label>
        <Label class="question" (loaded)="onLabelLoad($event)" text="かたかな, カタカナ"></Label>
    </FlexboxLayout>
    <FlexboxLayout (tap)="onFlip()" class="flashcard-overview-card">
        <Label class="description" text="Dn"></Label>
        <Label class="question" (loaded)="onLabelLoad($event)" text="漢字"></Label>
    </FlexboxLayout>
</FlexboxLayout>
