<FlexboxLayout class="flashcard-cards-container">
    <FlexboxLayout *ngFor="let card of flashcardDeck._cards; let i = index;" (tap)="onFlip()" class="flashcard-overview-card" [ngClass]="{'animate-card-front': cardFront, 'animate-card-back': !cardFront}">
        <Label *ngIf="cardFront && !isEditMode" class="description" text="{{ card.instruction }}"></Label>
        <Label *ngIf="cardFront && !isEditMode" id="question-label" (loaded)="onLabelLoad($event)" class="question" text="{{ card.question }}"></Label>
        <Label *ngIf="!cardFront && !isEditMode" id="question-label" (loaded)="onLabelLoad($event)" class="question" text="{{ card.answer }}"></Label>
        <TextField *ngIf="cardFront && isEditMode" hint="instructions" class="input-instructions m-b-15"></TextField>
        <TextView *ngIf="cardFront && isEditMode" hint="Enter Question" class="input-answer m-t-15" ></TextView>
        <TextView *ngIf="!cardFront && isEditMode" hint="Enter Answer" class="input-answer" ></TextView>
    </FlexboxLayout>
</FlexboxLayout>
