.flashcard-cards-container {
    flex-direction: row;
}

.flashcard-overview-card {
    border-width: 4;
    border-color: #000000;
    border-radius: 20;
    width: 350;
    height: 75%;
    margin: 10 10;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-end;
}

.description {
   text-align: center;
   font-size: 18;
   text-wrap: true;
   padding: 1;
   color: #000000;
   line-height: -2;
}

.question {
    height: 89%;
    text-align: center;
    font-weight: bold;
    font-size: 50;
    color: #000000;
    text-wrap: true;
}
