<FlexboxLayout class="flashcard-cards-container" [formGroup]="cardForm">
    <FlexboxLayout
        *ngFor="let card of cardsControl; let i = index;"
        (ngSubmit)="saveFlashcardForm();"
        (tap)="onFlip()"
        (longPress)="onSelectCard(i)"
        class="flashcard-overview-card"
        [ngClass]="{'animate-card-front': cardFront && cardFront != null, 'animate-card-back': !cardFront && cardFront != null}"
        [ngStyle]="{'border-color': i === this.indexSelected ? '#F96A1F' : '#000000', 'height': isEditMode ? '75%' : '85%'}"
        formArrayName="_cards"
        >
        <Label
            *ngIf="!cardFront && i != indexSelected"
            class="description"
            text="{{ cardForm.value._cards[i].instruction }}"
            >
        </Label>
        <Label
            *ngIf="!cardFront && i != indexSelected"
            id="question-label"
            (loaded)="onLabelLoad($event)"
            class="question"
            text="{{ cardForm.value._cards[i].question }}"
            >
        </Label>
        <Label
            *ngIf="cardFront && i != indexSelected"
            id="question-label"
            (loaded)="onLabelLoad($event)"
            class="question"
            text="{{ cardForm.value._cards[i].answer }}"
            >
        </Label>

        <!-- edit form -->

        <FlexboxLayout [ngClass]="{'card-form': isEditMode && i === indexSelected}" *ngIf="isEditMode" [formGroupName]="i">
            <TextField
                *ngIf="!cardFront && isEditMode && i === indexSelected"
                hint="instructions"
                class="input-instructions m-b-15"
                formControlName="instruction"
                >
            </TextField>
            <TextView
                *ngIf="!cardFront && isEditMode && i === indexSelected"
                hint="Enter Question"
                class="input-answer m-t-15"
                formControlName="question"
                >
            </TextView>
            <TextView
                *ngIf="cardFront && isEditMode && i === indexSelected"
                hint="Enter Answer"
                class="input-answer"
                formControlName="answer"
                >
            </TextView>
        </FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>
