<ns-action-bar [hasMenu]="false" title="Edit Deck Menu">
    <ActionItem android.position="popup"
        ios.systemIcon="3"
        ios.position="right"
        text="Save">
    </ActionItem>
    <ActionItem android.position="popup"
        ios.systemIcon="16"
        ios.position="right"
        text="Delete Deck">
    </ActionItem>
</ns-action-bar>
<FlexboxLayout class="edit-deck-menu-container">
    <TextField class="input-basic m-b-10" hint="Name the deck"></TextField>
    <ScrollView orientation="horizontal">
        <ns-flashcard-cards></ns-flashcard-cards>
    </ScrollView>
</FlexboxLayout>
