<ns-action-bar [hasMenu]="false" title="Edit Deck Menu">
    <ActionItem android.position="popup"
        ios.systemIcon="3"
        ios.position="right"
        text="Save"
        (tap)="onSaveFlashcardDeck($event)">
    </ActionItem>
    <ActionItem *ngIf="dynamicParamSelectedDeckIndex != -1"
        android.position="popup"
        ios.systemIcon="16"
        ios.position="right"
        text="Delete Deck"
        (tap)="onDeleteFlashcardDeck()">
    </ActionItem>
    <ActionItem *ngIf="dynamicParamSelectedDeckIndex == -1"
        android.position="popup"
        ios.systemIcon="16"
        ios.position="right"
        text="Cancel"
        (tap)="onCancelCreateDeck()">
    </ActionItem>
</ns-action-bar>
<FlexboxLayout class="edit-deck-menu-container">
    <TextField class="input-basic m-b-10" [(ngModel)]="TitleOfDeck" hint="Name the deck"></TextField>
    <Label *ngIf="!hasCardInDeck" class="secondary-text-font" textWrap="true">
        <FormattedString>
            <Span text="Click" class="emphasize-text"></Span>
            <Span text=" the "></Span>
            <Span text="Plus" class="emphasize-text"></Span>
            <Span text=" to add cards to deck"></Span>
        </FormattedString>
    </Label>
    <ScrollView orientation="horizontal">
        <ns-flashcard-cards [currentFlashcardDeckTitle]="TitleOfDeck" (onNoCardsInDeck)="changeIfCardsInDeck($event)" [onsaveFlashcardDeckEvent]="onsaveFlashcardDeckEvent" [flashcardDeckIndexSelected]="dynamicParamSelectedDeckIndex" [isEditMode]="true"></ns-flashcard-cards>
    </ScrollView>
    <ns-flashcard-edit-deck-buttons [IndexDeckSelected]="dynamicParamSelectedDeckIndex" [isEditModeButtons]="true"></ns-flashcard-edit-deck-buttons>
</FlexboxLayout>
