FlexboxLayout {
    background-color: var(--main-bg-color);
}
/*
Button {
    margin-top: 8%;
} */

.auth-form {
    align-items: center;
    justify-content: center;
}

.btn-login {
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 55;
    font-size: 40;
    font-weight: bold;
    color: #000000;
    height: 17%;
    width: 80%;
}

.input-not-vaild {
    font-size: 17;
    color: var(--primary-text-color);
}

.btn-info {
    margin-bottom: 2%;
}
