/* Issue modal is not importing app.css gloabl css variables but seems to find the class */

.forgot-password-container {
    height: 65%;
    /* background-color: #d55a43; */
    background: linear-gradient(-58deg, rgba(213,90,67,1) 65%, rgba(230,98,73,1) 40%);

}

FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-x-wraper {
    margin-top: -5;
}

.icon-lock-wraper {
    background-color: #ffffff;
    border-radius: 100%;
    height: auto;
    width: 85;
    height: 85;
    align-items: center;
    justify-content: center;
    margin-bottom: 25;
}

.icon-lock {
    color: black;
}

.label {
    margin-top: 15;
    margin-bottom: 5;
    color: #ffffff;
}

.text-c {
    padding-left: 5;
    padding-right: 5;
}

.modal-forgot-pass-form-wraper {
    background-color: transparent;
    padding: 5;
}

.form .input {
    margin: 0;
    padding: 0;
    placeholder-color: #ffffff;
}

.input.ng-invalid.ng-touched {
    border-bottom-color: #FF0000;
    color: #FF0000;
}

.modal-forgot-pass-button-wraper {
    background-color: #ffffff;
    border-color: #d55a43;
    border-width: 2;
    border-style: solid;
    width: 100%;
}

.reset-button {
    margin-top: 25%;
    vertical-align: center;
}

.icon-caret-down {
    padding: 0;
    margin: -30;
    height: 50;
    font-size: 73;
    color: #d55a43;
    horizontal-alignment: center;
}

.btn-round {
    height: auto;
    background-color: #e66249;
}

