/* Issue modal is not importing app.css gloabl css variables but seems to find the class */
.forgot-password-container {
    background-color: #12181B;
    border-radius: 30;
}

FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}

.form .input {
    placeholder-color: #ffffff;
}

.btn-flat {
    background-color: #09C372;
}

.test {
    background-color: rgba(255, 255, 255, 0);
}
