<GridLayout columns="*,auto" rows="auto,2*,*" class="forgot-password-container">
    <FlexboxLayout col="1" row="0" class="icon-x-wraper">
        <Label (tap)="onClose()" class="fa fa-icon-sm" text="&#xf00d;"></Label>
    </FlexboxLayout>
    <FlexboxLayout col="0" row="1" colSpan="2" class="modal-forgot-pass-form-wraper">
        <FlexboxLayout class="icon-lock-wraper">
            <Label class="fa fa-icon-med icon-lock" text="&#xf023;"></Label>
        </FlexboxLayout>
        <Label
            class="label text-c"
            textWrap="true"
            text="Enter your email address and we'll send you a link to reset you password.">
        </Label>
        <StackLayout class="form" [formGroup]="forgotPasswordForm">
            <Label class="label" text="Email Address:"></Label>
            <TextField
                class="input"
                keyboardType="email"
                autocorrect="false"
                formControlName="email"
                hint="Enter e-mail here"
                #emailElm>
            </TextField>
        </StackLayout>
    </FlexboxLayout>
    <DockLayout col="0" row="2" stretchLastChild="true" colSpan="2" class="modal-forgot-pass-button-wraper">
        <Label dock="top" class="fa fa-icon-med icon-caret-down" text="&#xf0d7;"></Label>
        <Button
            [isEnabled]="emailControlIsValid"
            class="btn-round reset-button"
            [ngStyle]="{'background-color': emailControlIsValid ? '#d55a43' : '#B2BECD'}"
            text="Reset Password"
            (tap)="onSubmitForm()">
        </Button>
    </DockLayout>
</GridLayout>
