<FlexboxLayout>
    <Button
        *ngIf="isEditModeButtons && isCardSelected"
        (tap)="onDeleteACard('delete')"
        class="fa btn-delete"
        text="&#xf068;">
    </Button>
    <Button
        *ngIf="isEditModeButtons && !isCardSelected"
        class="fa btn-add"
        text="&#xf067;"
        (tap)="onAddCard('add')">
    </Button>
    <Button
        *ngIf="!isEditModeButtons"
        [ngStyle]="{'font-size': '35'}"]
        class="fa btn-select"
        text="&#xf074;"
        (tap)="onShuffleDeck()">
    </Button>
</FlexboxLayout>
