<FlexboxLayout>
    <Button
        *ngIf="isEditModeButtons"
        (tap)="onShuffleDeck()"
        class="btn-select btn-marign-right"
        text="Select">
    </Button>
    <Button
        *ngIf="isEditModeButtons"
        class="fa btn-select btn-marign-left"
        text="&#xf067;"
        (tap)="onAddCard()">
    </Button>
    <Button
        *ngIf="!isEditModeButtons"
        [ngStyle]="{'font-size': '35'}"]
        class="fa btn-select"
        text="&#xf074;"
        (tap)="onShuffleDeck()">
    </Button>
</FlexboxLayout>
