<ns-action-bar [hasMenu]="false" title="{{ deckTitle }}"></ns-action-bar>
<FlexboxLayout class="flashcard-deck-view-container">
    <Label *ngIf="!hasCardInDeck" class="secondary-text-font" textWrap="true">
        <FormattedString>
            <Span text="ADD" class="emphasize-text"></Span>
            <Span text=" cards to your deck and "></Span>
            <Span text="SAVE" class="emphasize-text"></Span>
        </FormattedString>
    </Label>
    <FlexboxLayout class="flashcard-deck-contianer">
        <ScrollView orientation="horizontal">
            <ns-flashcard-cards [flashcardDeckIndexSelected]="dynamicParamSelectedDeckIndex"></ns-flashcard-cards>
        </ScrollView>
    </FlexboxLayout>
    <FlexboxLayout class="flashcard-button-wrapper">
        <ns-flashcard-edit-deck-buttons *ngIf="hasCardInDeck" [IndexDeckSelected]="dynamicParamSelectedDeckIndex"></ns-flashcard-edit-deck-buttons>
    </FlexboxLayout>
</FlexboxLayout>
